// Essential Colors:
$black:       #000000;
$white:       #ffffff;
$transparent: #ffffff00;

// Themed Colors
$gray_0:   #f8f9fa;
$gray_1:   #f1f3f5;
$gray_2:   #e9ecef;
$gray_3:   #dee2e6;
$gray_4:   #ced4da;
$gray_5:   #adb5bd;
$gray_6:   #868e96;
$gray_7:   #495057;
$gray_8:   #343a40;
$gray_9:   #212529;
$indigo_0: #edf2ff;
$indigo_1: #dbe4ff;
$indigo_2: #bac8ff;
$indigo_3: #91a7ff;
$indigo_4: #748ffc;
$indigo_5: #5c7cfa;
$indigo_6: #4c6ef5;
$indigo_7: #4263eb;
$indigo_8: #3b5bdb;
$indigo_9: #364fc7;

// Font sizes:
$fs_xxl: 2.5rem;  // 40px
$fs_xl: 2rem;     // 32px
$fs_l: 1.5rem;    // 24px
$fs_ml: 1.25rem;  // 20px
$fs_m: 1rem;      // 16px
$fs_sm: 0.875rem; // 14px
$fs_s: 0.75rem;   // 12px

// Font weights:
$fw_black: 900;
$fw_bold: 700;
$fw_medium: 500;
$fw_regular: 400;
$fw_light: 300;
$fw_thin: 100;

// Line heights:
$lh_xxl: 2.75rem; // 44px
$lh_xl: 2.25rem;  // 36px
$lh_l: 1.75rem;   // 28px
$lh_ml: 1.5rem;   // 24px
$lh_m: 1.25rem;   // 20px
$lh_sm: 1.125rem; // 18px
$lh_s: 1rem;      // 16px
