// Essential Colors:
$black:                  #000000ff;
$semi_transparent_black: #00000080;
$white:                  #ffffffff;
$transparent:            #ffffff00;

// Themed Colors
$gray_0:   #f8f9fa;
$gray_1:   #f1f3f5;
$gray_2:   #e9ecef;
$gray_3:   #dee2e6;
$gray_4:   #ced4da;
$gray_5:   #adb5bd;
$gray_6:   #868e96;
$gray_7:   #495057;
$gray_8:   #343a40;
$gray_9:   #212529;
$indigo_0: #edf2ff;
$indigo_1: #dbe4ff;
$indigo_2: #bac8ff;
$indigo_3: #91a7ff;
$indigo_4: #748ffc;
$indigo_5: #5c7cfa;
$indigo_6: #4c6ef5;
$indigo_7: #4263eb;
$indigo_8: #3b5bdb;
$indigo_9: #364fc7;

// Font Weights:
$fw_black: 900;
$fw_semiblack: 800;
$fw_bold: 700;
$fw_semibold: 600;
$fw_medium: 500;
$fw_regular: 400;
$fw_light: 300;
$fw_semilight: 200;
$fw_thin: 100;

// ---------------------------------- MOBILE VALUES ---------------------------------- //

// Font Sizes (Mobile):
$fs_xxl: 2.5rem;  // 40px
$fs_xl: 2rem;     // 32px
$fs_l: 1.5rem;    // 24px
$fs_ml: 1.25rem;  // 20px
$fs_m: 1rem;      // 16px
$fs_sm: 0.875rem; // 14px
$fs_s: 0.75rem;   // 12px

// Line Heights (Mobile):
$lh_xxl: 2.75rem; // 44px
$lh_xl: 2.25rem;  // 36px
$lh_l: 1.75rem;   // 28px
$lh_ml: 1.5rem;   // 24px
$lh_m: 1.25rem;   // 20px
$lh_sm: 1.125rem; // 18px
$lh_s: 1rem;      // 16px

// Paddings & Margins (Mobile):
$space_1: 0.3125rem;
$space_2: 0.625rem;
$space_3: 1.25rem;
$space_4: 1.875rem;
$space_5: 2.5rem;
$space_6: 3.125rem;
$space_7: 3.75rem;
$space_8: 4.375rem;

// ---------------------------------- TABLET VALUES ---------------------------------- //
// Increase of 20% compared with the mobile values

// Font Sizes (Tablet):
$tablet_fs_xxl: 3.0rem;
$tablet_fs_xl: 2.4rem;
$tablet_fs_l: 1.8rem;
$tablet_fs_ml: 1.5rem;
$tablet_fs_m: 1.2rem;
$tablet_fs_sm: 1.05rem;
$tablet_fs_s: 0.9rem;


// Line Heights (Tablet):
$tablet_lh_xxl: 3.3rem;
$tablet_lh_xl: 2.7rem;
$tablet_lh_l: 2.1rem;
$tablet_lh_ml: 1.8rem;
$tablet_lh_m: 1.5rem;
$tablet_lh_sm: 1.35rem;
$tablet_lh_s: 1.2rem;

// Paddings & Margins (Tablet):
$tablet_space_1: 0.375rem;
$tablet_space_2: 0.75rem;
$tablet_space_3: 1.5rem;
$tablet_space_4: 2.25rem;
$tablet_space_5: 3.0rem;
$tablet_space_6: 3.75rem;
$tablet_space_7: 4.5rem;
$tablet_space_8: 5.25rem;

// ---------------------------------- DESKTOP VALUES ---------------------------------- //

// Font Sizes (Desktop):
$desktop_fs_xxl: 2.5rem; 
$desktop_fs_xl: 2rem;     
$desktop_fs_l: 1.5rem;   
$desktop_fs_ml: 1.25rem;  
$desktop_fs_m: 1rem;      
$desktop_fs_sm: 0.875rem; 
$desktop_fs_s: 0.75rem;  

// Line Heights (Desktop):
$desktop_lh_xxl: 2.75rem; 
$desktop_lh_xl: 2.25rem;  
$desktop_lh_l: 1.75rem;   
$desktop_lh_ml: 1.5rem;   
$desktop_lh_m: 1.25rem;   
$desktop_lh_sm: 1.125rem; 
$desktop_lh_s: 1rem;     

// Paddings & Margins (Desktop):
$desktop_space_1: 0.3125rem;
$desktop_space_2: 0.625rem;
$desktop_space_3: 1.25rem;
$desktop_space_4: 1.875rem;
$desktop_space_5: 2.5rem;
$desktop_space_6: 3.125rem;
$desktop_space_7: 3.75rem;
$desktop_space_8: 4.375rem;

