@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.btn {
    @include mixins.padding(
        variables.$space_2,
        variables.$space_2,
        variables.$space_2,
        variables.$space_2
    );
    border: 3px solid;
    width: 150px;
    border-radius: 1000rem;

    .btn__text {
        @include mixins.text-settings(
            variables.$gray_9,
            variables.$fs_m,
            variables.$fw_bold,
            variables.$lh_s
        );
        overflow-wrap: break-word;
    }
}

.btn--style-1 {
    border-color: variables.$indigo_7;
    background-color: variables.$transparent;
}
.btn--style-2 {
    border-color: variables.$indigo_7;
    background-color: variables.$transparent;
}