@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.section-2 {
    margin-bottom: -4px; // Correcting the space at the bottom of the section

    .section-2__texts {
        @include mixins.padding(
            variables.$space_4,
            variables.$space_3, 
            variables.$space_4,
            variables.$space_3
        );

        .section-2__texts__title {
            @include mixins.text-settings(
                variables.$gray_9, 
                variables.$fs_xl,
                variables.$fw_bold, 
                variables.$lh_xl
            );
            text-align: center;
        }
    
        .section-2__texts__text {
            @include mixins.text-settings(
                variables.$gray_9, 
                variables.$fs_m,
                variables.$fw_regular, 
                variables.$lh_m
            );
            margin-top: variables.$space_3;
        }
    }
    
    .section-2__img {
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    Button {
        display: none;
    }
}



// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .section-2__texts {
        @include mixins.padding(
            variables.$tablet_space_4,
            variables.$tablet_space_3, 
            variables.$tablet_space_4,
            variables.$tablet_space_3 !important
        );

        .section-2__texts__title {
            @include mixins.text-settings(
                variables.$gray_9, 
                variables.$tablet_fs_xl !important,
                variables.$fw_bold, 
                variables.$tablet_lh_xl !important
            );
            text-align: center;
        }
    
        .section-2__texts__text {
            @include mixins.text-settings(
                variables.$gray_9, 
                variables.$tablet_fs_m !important,
                variables.$fw_regular, 
                variables.$tablet_lh_m !important
            );
            margin-top: variables.$space_3 !important;
        }
    }
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .section-2 {
        @include mixins.padding(
            variables.$desktop_space_4,
            variables.$desktop_space_3, 
            variables.$desktop_space_4,
            variables.$desktop_space_3 !important
        );
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 1500px;
        height: fit-content;

        .section-2__texts {
            @include mixins.padding(
                variables.$desktop_space_4,
                variables.$desktop_space_3, 
                variables.$desktop_space_4,
                variables.$desktop_space_3 !important
            );
            background-color: variables.$gray_2;
            max-height: 700px; // Image's height used as reference
            overflow-y: auto;
            width: 50%;
            border-radius: 0px 40px 40px 0px;
    
            .section-2__texts__title {
                @include mixins.text-settings(
                    variables.$gray_9, 
                    variables.$desktop_fs_l !important,
                    variables.$fw_bold, 
                    variables.$desktop_lh_l !important
                );
                text-align: start;
            }
        
            .section-2__texts__text {
                @include mixins.text-settings(
                    variables.$gray_9, 
                    variables.$desktop_fs_s !important,
                    variables.$fw_regular, 
                    variables.$desktop_lh_s !important
                );
                margin-top: variables.$desktop_space_3 !important;
            }
        }

        .section-2__img {
            height: 700px;
            width: 50%;
            border-radius: 40px 0px 0px 40px;
        }

        Button {
            margin-top: variables.$desktop_space_3;
            display: block;
        }
    }
}