@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.section-2 {
    padding-top: variables.$space_4;
    margin-bottom: -4px; // Correcting the space at the bottom of the section
   
    .section-2__title {
        @include mixins.text-settings(
            variables.$gray_9, 
            variables.$fs_xl,
            variables.$fw_bold, 
            variables.$lh_xl
        );
        @include mixins.padding-horizontal(variables.$space_3, variables.$space_3);
        margin-bottom: variables.$space_4;
        text-align: center;
    }

    .section-2__text {
        @include mixins.text-settings(
            variables.$gray_7, 
            variables.$fs_m,
            variables.$fw_regular, 
            variables.$lh_m
        );
        @include mixins.padding-horizontal(variables.$space_3, variables.$space_3);
        margin-bottom: variables.$space_2;
    }
    
    .section-2__img {
        margin-top: variables.$space_3;
        object-fit: cover;
        height: 300px;
        width: 100vw;
    }
}