@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.menu-button {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.bg-circle {
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background-color: variables.$gray_1;
    position: absolute;
    top: 0.6rem;
    right: 0.825rem;
}

.menu-button-open {
    @extend .menu-button;

    .menu-button-burguer {
        background: variables.$black;
    }
}

// Class used in all three bars of the menu
.menu-button-burguer {
    width: 20px;
    height: 2px;
    background: variables.$black;
    border-radius: 5px;
    transition: transform 0.4s;
}

.menu-button-burguer--white {
    background: variables.$white;
}

.menu-button-burguer--black {
    background: variables.$black;
}

.menu-button-open {
    // First bar
    div:nth-child(1) {
        transform: rotate(45deg) translateY(3.5px) translateX(6px);
    }
    // Second bar
    div:nth-child(2) {
        transform: translateX(-20px);
        background: variables.$transparent;
    }
    // Third bar
    div:nth-child(3) {
        transform: rotate(-45deg) translateY(-3.5px) translateX(6px);
    }
}

// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .bg-circle {
        top: 0.75rem;
        right: 1.05rem;
    }
}

// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .bg-circle {
        top: 0.9rem;
        right: 4rem;
    }
}