@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.menu-button, .menu-button-open {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

// Class used in all three bars of the menu
.menu-button-burguer {
    width: 20px;
    height: 2px;
    background: variables.$black;
    border-radius: 5px;
    transition: transform 0.4s;
}

.menu-button-burguer--white {
    background: variables.$white;
}

.menu-button-burguer--black {
    background: variables.$black;
}

.menu-button-open {
    // First bar
    div:nth-child(1) {
        transform: rotate(45deg) translateY(3.5px) translateX(6px);
    }
    // Second bar
    div:nth-child(2) {
        transform: translateX(-20px);
        height: 2px;
        width: 20px;
        background: variables.$transparent;
    }
    // Third bar
    div:nth-child(3) {
        transform: rotate(-45deg) translateY(-3.5px) translateX(6px);
    }
}