@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.section-1 {
    @include mixins.padding(
        variables.$space_7,
        variables.$space_3,
        0,
        variables.$space_3
    );
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 30.73%, rgba(0, 0, 0, 0.80) 66.67%, variables.$black 100%), url('../../../public/images/pexels-andrea-piacquadio-787472.jpg');
    background-position: 60%; // Center the image
    background-size: cover; // Cover the entire element
    background-repeat: no-repeat; // Do not repeat the image
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .section-1__title {
        @include mixins.text-settings(
            variables.$white, 
            variables.$fs_xxl,
            variables.$fw_bold, 
            variables.$lh_xxl
        );
    }
    
    .section-1__text {
        @include mixins.text-settings(
            variables.$white, 
            variables.$fs_ml,
            variables.$fw_light, 
            variables.$lh_ml
        );
      
        span {
            font-weight: variables.$fw_black;
        }
    }
    
    .section-1__btn-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        a img {
            height: auto;
            width: calc(50vw - variables.$space_3);
            max-width: 200px;
        }
    }
}



// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .section-1 {
        @include mixins.padding(
            variables.$tablet_space_7,
            variables.$tablet_space_3,
            0,
            variables.$tablet_space_3 !important
        );

        .section-1__title {
            @include mixins.text-settings(
                variables.$white, 
                variables.$tablet_fs_xxl,
                variables.$fw_bold, 
                variables.$tablet_lh_xxl
            );
        }
        
        .section-1__text {
            @include mixins.text-settings(
                variables.$white, 
                variables.$tablet_fs_ml,
                variables.$fw_light, 
                variables.$tablet_lh_ml
            );
        }
    }
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .section-1 {
        @include mixins.padding(
            variables.$desktop_space_7,
            variables.$desktop_space_5,
            0,
            variables.$desktop_space_5 !important
        );

        .section-1__title {
            @include mixins.text-settings(
                variables.$white, 
                variables.$desktop_fs_xxl,
                variables.$fw_bold, 
                variables.$desktop_lh_xxl
            );
        }
        
        .section-1__text {
            @include mixins.text-settings(
                variables.$white, 
                variables.$desktop_fs_m,
                variables.$fw_light, 
                variables.$desktop_lh_m
            );
            max-width: 1100px;
        }

        .section-1__btn-container {
            display: flex;
            justify-content: flex-start;
            column-gap: variables.$desktop_space_3;
            width: 50%;
            a img {
                max-width: 250px;
            }
        }
    }
}