@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.darken-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: variables.$semi_transparent_black;
}

.nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 60px; // Header's height

    .nav-menu__link {
        @include mixins.padding(
            variables.$space_2,
            variables.$space_1,
            variables.$space_2,
            variables.$space_1,
        );
        @include mixins.text-settings(
                variables.$gray_9, 
                variables.$fs_m,
                variables.$fw_semibold, 
                variables.$lh_m
        );

        display: flex;
        align-items: center;
        border-radius: variables.$space_2;
        margin-top: variables.$space_1;
        cursor: pointer;
    }

    .nav-menu__link__icon {
        @include mixins.margin-horizontal(variables.$space_2, variables.$space_2);
    }
}