@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.darken-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: variables.$semi_transparent_black;
}

.nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 275px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-top: 60px; // Header's height

    .nav-menu__links {
        margin-top: variables.$space_3;

        .nav-menu__links__link {
            @include mixins.padding(
                variables.$space_2,
                variables.$space_1,
                variables.$space_2,
                variables.$space_1,
            );
            @include mixins.text-settings(
                    variables.$gray_9, 
                    variables.$fs_m,
                    variables.$fw_semibold, 
                    variables.$lh_m
            );
            display: flex;
            align-items: center;
            border-radius: variables.$space_2;
            margin-top: variables.$space_1;
            cursor: pointer;

            .nav-menu__links__link__icon {
                @include mixins.margin-horizontal(variables.$space_2, variables.$space_2);
            }
        }
    }

    .nav-menu__user-container {
        display: flex;
        align-items: center;

        .nav-menu__user-container__user-icon {
            @include mixins.margin-horizontal(variables.$space_2, variables.$space_2);
        }

        .nav-menu__user-container__user-text {            
            @include mixins.text-settings(
                variables.$indigo_7, 
                variables.$fs_m,
                variables.$fw_medium, 
                variables.$lh_m
            );
        }
    }
}



// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .nav-menu {
        width: 300px;
        padding-top: 65px; // Header's height
    
        .nav-menu__links {
            margin-top: variables.$tablet_space_3 !important;
    
            .nav-menu__links__link {
                @include mixins.padding(
                    variables.$tablet_space_2,
                    variables.$tablet_space_1,
                    variables.$tablet_space_2,
                    variables.$tablet_space_1 !important
                );
                @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$tablet_fs_m !important,
                        variables.$fw_semibold, 
                        variables.$tablet_lh_m !important
                );
                border-radius: variables.$tablet_space_2 !important;
                margin-top: variables.$tablet_space_1 !important;
    
                .nav-menu__links__link__icon {
                    @include mixins.margin-horizontal(
                        variables.$tablet_space_2 !important, 
                        variables.$tablet_space_2 !important
                    );
                }
            }
        }
    
        .nav-menu__user-container__user-icon {
            @include mixins.margin-horizontal(
                variables.$tablet_space_2 !important, 
                variables.$tablet_space_2 !important
            );
        }

        .nav-menu__user-container__user-text {            
            @include mixins.text-settings(
                variables.$indigo_7, 
                variables.$tablet_fs_m !important,
                variables.$fw_medium, 
                variables.$tablet_lh_m !important
            );
        }
    }
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .nav-menu {
        width: 400px;
        padding-top: 70px; // Header's height
    
        .nav-menu__links {
            margin-top: variables.$desktop_space_3 !important;
    
            .nav-menu__links__link {
                @include mixins.padding(
                    variables.$desktop_space_2,
                    variables.$desktop_space_1,
                    variables.$desktop_space_2,
                    variables.$desktop_space_1 !important
                );
                @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$desktop_fs_sm !important,
                        variables.$fw_semibold, 
                        variables.$desktop_lh_sm !important
                );
                border-radius: variables.$desktop_space_2 !important;
                margin-top: variables.$desktop_space_1 !important;
    
                .nav-menu__links__link__icon {
                    @include mixins.margin-horizontal(
                        variables.$desktop_space_2 !important, 
                        variables.$desktop_space_2 !important
                    );
                }
            }
        }
    
        .nav-menu__user-container__user-icon {
            @include mixins.margin-horizontal(
                variables.$desktop_space_2 !important, 
                variables.$desktop_space_2 !important
            );
        }

        .nav-menu__user-container__user-text {            
            @include mixins.text-settings(
                variables.$indigo_7, 
                variables.$desktop_fs_sm !important,
                variables.$fw_medium, 
                variables.$desktop_lh_sm !important
            );
        }
    }
}