@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.header {
    position: fixed;
    z-index: 1; 
    transition-delay: 0.4s;
    transition: all 0.4s ease-in-out;
    height: 60px;
    width: 100vw;
    @include mixins.padding-horizontal(variables.$space_3, variables.$space_3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: auto;
        width: 110px;
    }
    .btn {
        display: none;
    }
}

.header-scrolling {
    @extend .header;
    background: variables.$indigo_7;
}

// The class that will slide the header out of view
.header-top {
    @extend .header;
    background: variables.$transparent;
}

// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: 425px) {
    .header {
        justify-content: space-between;

        .btn {
            display: inline-block;
            margin-right: variables.$space_3;
        }
        .header__btns-container {
            display: flex;
            align-items: center;
        }
    }
}