@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.header {
    @include mixins.padding-horizontal(
        variables.$space_3, 
        variables.$space_3
    );
    position: fixed;
    z-index: 1; 
    transition-delay: 0.4s;
    transition: all 0.4s ease-in-out;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
        height: auto;
        width: 110px;
    }
    .btn {
        display: none;
    }
}

.header-scrolling {
    @extend .header;
    background-color: red
    // background: variables.$indigo_7;
}

// The class that will slide the header out of view
.header-top {
    @extend .header;
    background-color: red;
    // background: variables.$transparent;
}



// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .header {
        @include mixins.padding-horizontal(
            variables.$tablet_space_3 !important, 
            variables.$tablet_space_3 !important
        );
        height: 65px;

        .btn {
            display: inline-block;
            margin-right: variables.$space_3 !important;
        }
        
        .header__btns-container {
            display: flex;
            align-items: center;
        }
    }
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .header {
        @include mixins.padding-horizontal(
            variables.$desktop_space_5 !important, 
            variables.$desktop_space_5 !important
        );
        height: 70px;

        .header__logo {
            height: auto;
            width: 160px;
        }
    }
}