@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

header {
    position: fixed;
    height: 60px;
    width: 100vw;
    padding: 0rem variables.$space_3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: variables.$transparent;
    img {
        height: auto;
        width: 110px;
    }
}