@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.section-6 {
    padding-top: variables.$space_4;
    background-color: variables.$indigo_7;

    .section-6__title {
        @include mixins.text-settings(
            variables.$white, 
            variables.$fs_xl,
            variables.$fw_light, 
            variables.$lh_xl
        );
        text-align: center;

        span {
            @include mixins.text-settings(
                variables.$white, 
                variables.$fs_xl,
                variables.$fw_bold, 
                variables.$lh_xl
            );
        }
    }

    .section-6__main-div {
        @include mixins.padding(variables.$space_4, variables.$space_3, 0, variables.$space_3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        column-gap: variables.$space_1;
        row-gap: variables.$space_5;

        .section-6__main-div__buttons-div {
            display: flex;
            flex-direction: column;
            row-gap: variables.$space_3;
            padding-bottom: variables.$space_3;
        }
        .section-6__main-div__img {
            width: 70%;
            align-self: flex-end;
        }
    }

}
