@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

.section-6 {
    padding-top: variables.$space_4;
    background-color: variables.$indigo_7;
    width: 100%;

    .section-6__title {
        @include mixins.text-settings(
            variables.$white, 
            variables.$fs_xl,
            variables.$fw_light, 
            variables.$lh_xl
        );
        text-align: center;

        span {
            @include mixins.text-settings(
                variables.$white, 
                variables.$fs_xl,
                variables.$fw_bold, 
                variables.$lh_xl
            );
        }
    }

    .section-6__main-div__first-div {
        @include mixins.padding(
            variables.$space_4, 
            variables.$space_3, 
            0, 
            variables.$space_3
        );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        column-gap: variables.$space_1;
        row-gap: variables.$space_5;

        .section-6__main-div__first-div__buttons-div {
            display: flex;
            flex-direction: column;
            row-gap: variables.$space_3;
            padding-bottom: variables.$space_3;
        }
        .section-6__main-div__first-div__img {
            width: 70%;
            align-self: flex-end;
        }
    }

}



// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .section-6 {
        padding-top: variables.$tablet_space_4 !important;
        
        .section-6__title {
            @include mixins.text-settings(
                variables.$white, 
                variables.$tablet_fs_xl !important,
                variables.$fw_light, 
                variables.$tablet_lh_xl !important
            );
    
            span {
                @include mixins.text-settings(
                    variables.$white, 
                    variables.$tablet_fs_xl !important,
                    variables.$fw_bold, 
                    variables.$tablet_lh_xl !important
                );
            }
        }
    
        .section-6__main-div__first-div {
            @include mixins.padding(
                variables.$tablet_space_4, 
                variables.$tablet_space_3, 
                0, 
                variables.$tablet_space_3 !important
            );
            flex-direction: row !important;
            justify-content: space-around !important;
            column-gap: variables.$tablet_space_1 !important;
            row-gap: variables.$tablet_space_5 !important;
    
            .section-6__main-div__first-div__buttons-div {
                row-gap: variables.$tablet_space_3 !important;
                padding-bottom: variables.$tablet_space_3 !important;
            }

            .section-6__main-div__first-div__img {
                width: 40% !important;
            }
        }

    }
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .section-6 {
        padding-top: variables.$desktop_space_4 !important;
        
        .section-6__title {
            @include mixins.text-settings(
                variables.$white, 
                variables.$desktop_fs_xl !important,
                variables.$fw_light, 
                variables.$desktop_lh_xl !important
            );
    
            span {
                @include mixins.text-settings(
                    variables.$white, 
                    variables.$desktop_fs_xl !important,
                    variables.$fw_bold, 
                    variables.$desktop_lh_xl !important
                );
            }
        }
    
        .section-6__main-div {
            display: flex;
            justify-content: center;
            height: 500px;

            .section-6__main-div__first-div {
                @include mixins.padding(
                    variables.$desktop_space_4, 
                    variables.$desktop_space_3, 
                    0, 
                    variables.$desktop_space_3 !important
                );
                justify-content: space-evenly !important;
                width: 100%;
                max-width: 1500px;
        
                .section-6__main-div__first-div__buttons-div {
                    row-gap: variables.$desktop_space_3 !important;
                    padding-bottom: variables.$desktop_space_3 !important;
                }
    
                .section-6__main-div__first-div__img {
                    width: 400px !important;
                }
            }
        }
    }
}