@use '../../abstract/root';
@use '../../abstract/variables';
@use '../../abstract/mixins';

footer {
    height: fit-content;
    width: 100vw;

    .footer__div-1 {
        @include mixins.padding(
            variables.$space_4, 
            variables.$space_3,
            variables.$space_4,
            variables.$space_3
        );
        background-color: variables.$gray_2;

        .footer__div-1__social-medias {
            display: flex;
            justify-content: space-around;
        }

        .footer__div-1__navigation-map {
            
            ul {
                margin: variables.$space_4 0rem;
                list-style-type: none;

                li:first-child {
                    @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$fs_m, 
                        variables.$fw_bold, 
                        variables.$lh_m 
                    );
                    margin-bottom: variables.$space_2;
                }

                li {
                    @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$fs_m, 
                        variables.$fw_regular, 
                        variables.$lh_m
                    );
                    margin-bottom: variables.$space_1;
                }
            }
        }

        .footer__div-1__btn-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
            a img {
                height: auto;
                width: calc(50vw - variables.$space_3);
                max-width: 200px;
            }        
        }
    }

    .footer__div-2 {
        @include mixins.padding(
            variables.$space_4,
            variables.$space_3,
            0rem, 
            variables.$space_3
        ); 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: variables.$gray_4;       
        row-gap: variables.$space_4;

        .footer__div-2__logos-container {
            display: flex;
            justify-content: space-around;
            width: 100%;

            img {
                object-fit: scale-down;
                height: auto;
                width: 40%;
                max-width: 200px;
                height: fit-content;
            }
        }

        .footer__div-2__copyright-text p {
            @include mixins.text-settings(
                variables.$gray_9, 
                variables.$fs_sm, 
                variables.$fw_regular, 
                variables.$lh_sm
            );
            text-align: center;
        }

        .footer__div-2__copyright-img {
            object-fit: scale-down;
            height: auto;
            width: 100px;
        }
    }
}



// ---------------------------------- TABLET SCREEN ---------------------------------- //
@media (min-width: variables.$tablet_min_width) {
    .footer__div-1 {
        @include mixins.padding(
            variables.$tablet_space_4, 
            variables.$tablet_space_3,
            variables.$tablet_space_4, 
            variables.$tablet_space_3 !important
        );

        .footer__div-1__social-medias img {
            width: 50px
        }

        .footer__div-1__navigation-map {
            ul {
                @include mixins.margin-vertical(variables.$tablet_space_4 !important, variables.$tablet_space_4 !important);

                li:first-child {
                    @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$tablet_fs_ml !important, 
                        variables.$fw_bold, 
                        variables.$tablet_lh_ml !important
                    );
                    margin-bottom: variables.$tablet_space_2 !important;
                }

                li {
                    @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$tablet_fs_m !important, 
                        variables.$fw_regular, 
                        variables.$tablet_lh_m !important
                    );
                    margin-bottom: variables.$tablet_space_1 !important;
                }
            }
        }
    }

    .footer__div-2 {
        @include mixins.padding(
            variables.$tablet_space_4,
            variables.$tablet_space_3,
            0rem, 
            variables.$tablet_space_3 !important
        );
        row-gap: variables.$tablet_space_4 !important;    
    }
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
    .footer__div-1 {
        @include mixins.padding(
            variables.$desktop_space_4, 
            variables.$desktop_space_3,
            variables.$desktop_space_4, 
            variables.$desktop_space_3 !important
        );
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__div-1__social-medias {
            justify-content: space-between;
            width: variables.$desktop_min_width;
            align-self: center;

            img {
                width: 50px
            }
        }

        .footer__div-1__navigation-map {
            @include mixins.padding-horizontal(
                variables.$desktop_space_3,
                variables.$desktop_space_3
            );
            margin-top: variables.$desktop_space_4;
            display: flex;
            column-gap: variables.$desktop_space_6;
            width: 100%;
            max-width: 1500px;

            ul {
                @include mixins.margin-vertical(
                    variables.$desktop_space_4 !important, 
                    variables.$desktop_space_4 !important
                );

                li:first-child {
                    @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$desktop_fs_m !important, 
                        variables.$fw_bold, 
                        variables.$desktop_lh_m !important
                    );
                    margin-bottom: variables.$desktop_space_2 !important;
                }

                li {
                    @include mixins.text-settings(
                        variables.$gray_9, 
                        variables.$desktop_fs_sm !important, 
                        variables.$fw_regular, 
                        variables.$desktop_lh_sm !important
                    );
                    margin-bottom: variables.$desktop_space_1 !important;
                }
            }
        }

        .footer__div-1__btn-container {
            justify-content: flex-start !important;
            align-self: center;
            width: 100%;
            max-width: 1500px;
            padding-left: variables.$desktop_space_3;
            column-gap: variables.$desktop_space_3;
            a img {
                max-width: 250px !important;
            }
        }
    }

    .footer__div-2 {
        @include mixins.padding(
            variables.$desktop_space_4,
            variables.$desktop_space_3,
            0rem, 
            variables.$desktop_space_3 !important
        );
        row-gap: variables.$desktop_space_2 !important;  

        .footer__div-2__logos-container {
            @include mixins.padding-horizontal(
                variables.$desktop_space_3,
                variables.$desktop_space_3
            );
            width: 100%;
            max-width: 1500px;
            justify-content: space-between !important;
        }
        
        .footer__div-2__copyright-text p {
            @include mixins.text-settings(
                variables.$gray_9, 
                variables.$desktop_fs_xs !important, 
                variables.$fw_regular, 
                variables.$desktop_lh_xs !important
            );
        }
    }
}