@use './abstract/root';
@use './abstract/variables';

.app {
  background-color: variables.$black;
  height: 100%;
  width: 100%;
  p {
    color: variables.$white;
  }
}

// To rotate the logo:
/* @media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
