@use './abstract/root';
@use './abstract/variables';
@use './abstract/mixins';

// To rotate the logo:
/* @media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow-x: hidden !important;
}



// ---------------------------------- DESKTOP SCREEN ---------------------------------- //
@media (min-width: variables.$desktop_min_width) {
  .app__gradient-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(
      // Values provided by the Figma layout
      195deg, 
      #4263EB 10.29%,
      rgba(116, 143, 252, 0.50) 28.23%,
      rgba(255, 255, 255, 0.25) 46.18%, 
      rgba(255, 255, 255, 0.25) 64.12%, 
      rgba(116, 143, 252, 0.50) 82.06%, 
      #4263EB 100%
    );
  }
}